<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="body-index">
    <!-- Bron: https://css-tricks.com/how-to-create-a-skip-to-content-link/ -->
    <a class="skip-content" href="#sec-2">
        <p>Ga naar: Blogs</p>
    </a>
    <!-- Header -->
    <%- include('../partials/header-home'); %>

    <nav class="nav-page">
        <a href="#sec-1" aria-label="Vorige sectie knop"><i class="fa-solid fa-angle-up"></i></a>
        <section>
            <h3 class="visually-hidden">Pagina nummer</h3>
            <p>1</p>
            <div><p>/</p></div>
            <p>2</p>
        </section>
        <a href="#sec-2" aria-label="Volgende sectie knop"><i class="fa-solid fa-angle-down"></i></a>
    </nav>

    <!-- Hero -->
    <section id="sec-1" class="sec sec-1">
        <h4 class="visually-hidden">Hero sectie</h4>
        <div>
            <h1>Weekly nerd</h1>
            <p>Blogs van alle sprekers</p>
            <p>Tijdens de minor: Web Design & Development, kwamen er allemaal sprekers op woensdagen om te vertellen over hun passie voor programmeren</p>
        </div>
        <section class="carousel-hero">
            <h4 class="visually-hidden">Xiao's top 3 gasten</h4>
            <a href="/blog/character-design">
                <article>
                    <h3>Character Design</h3>
                    <img src="img/blogs/character-css.jpeg" alt="Character Design">
                    <div class="overlay"></div>
                </article>
            </a>
            <a href="/blog/stop-using-js-for-that">
                <article>
                    <h3>Stop using JS for that</h3>
                    <img src="img/blogs/stop-js.jpeg" alt="Stop using JS for that">
                    <div class="overlay"></div>
                </article>
            </a>
            <a href="/blog/public-stack">
                <article>
                    <h3>Mobile ecosystem and the public stack</h3>
                    <img src="img/blogs/eco.png" alt="Mobile ecosystem and the public stack">
                    <div class="overlay"></div>
                </article>
            </a>
        </section>
    </section>

    <!-- Blogs -->
    <main id="sec-2" class="sec sec-2">
        <div>
            <h2>Blogs</h2>
            <button onclick="showModal()" aria-label="Filter knop"><i class="fa-solid fa-filter"></i></button>
            <dialog class="dialog">
                <form id="filterForm" method="dialog">
                    <fieldset>
                        <legend>Categorie:</legend>
                        <label>
                            HTML
                            <input type="checkbox" name="html" value="HTML">
                        </label>
                        <label>
                            CSS
                            <input type="checkbox" name="css" value="CSS">
                        </label>
                        <label>
                            JavaScript
                            <input type="checkbox" name="javascript" value="JavaScript">
                        </label>
                        <label>
                            Relfectie
                            <input type="checkbox" name="reflection" value="Relfectie">
                        </label>
                    </fieldset>
                    <fieldset>
                        <label for="sort">Sorteren:</label>
                        <select name="sort" id="sort">
                            <option value="all">Alles</option>
                            <option value="abc">A - Z</option>
                            <option value="old">Oud - Nieuw</option>
                            <option value="new">Niew - Oud</option>
                        </select>
                    </fieldset>
                    <button><p>Gereed</p></button>
                </form>

            </dialog>
            <section class="carousel-blog">
                <h4 class="visually-hidden">Alle blogs carousel</h4>
                <% allLinks.forEach(function(link) { %>
                    <a href="/blog/<%= link.slug %>">
                        <article>
                            <h3><%= link.title %></h3>
                            <img src="<%= link.img %>" alt="<%= link.title %>">
                            <div><i class="fa-solid fa-angle-right"></i></div>
                            <div class="overlay"></div>
                        </article>
                    </a>
                <% }); %>
            </section>
            <i aria-label="Scroll down icoon" class="fa-solid fa-angle-down i"></i>
        </div>
    </section>

    <!-- Footer -->
    <%- include('../partials/footer'); %>
    
    <script src="js/index.js"></script>

    <%- include('../partials/script-fontawesome'); %>
</body>
</html>