<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="body-single">
    <div class="div-single">
        <div>
            <!-- Header -->
            <%- include('../partials/header-single'); %>

            <main class="sec main-single">
                <header>
                    <nav>
                        <button id="backBtn" aria-label="Pijl terug naar home knop"><i class="fa-solid fa-angle-left"></i></button>
                    </nav>
                    <img src="<%= link.img %>" alt="<%= link.title %>">
                </header>

                <div>
                    <h1><%= link.title %></h1>
                    <p><%= link.description %></p>
                    <section class="authur">
                        <h3><%= link.authur %></h3>
                        <p><%= link.date %></p>
                        <img src="/img/thumbnail.jpeg" alt="CMD Media Lounge">
                    </section>

                    <!-- Zie prompts: https://chemical-bunny-323.notion.site/Weekly-Nerd-Chat-GPT-Documentation-6764544211dc42158c23d85eec350fc4#47523c66708a44b8b73e5d5569b6f688 -->
                    <%- content %>
                </div>
            </main>

            <section class="related-blogs">
                <h4>Gerelateerde blogs</h4>
                <section class="carousel-blog">
                    <h4 class="visually-hidden">Alle blogs carousel</h4>
                    <a href="/">
                        <article>
                            <h3>Stop using JS for that</h3>
                            <img src="../img/thumbnail.jpeg" alt="CMD Media lounge">
                            <div><i class="fa-solid fa-angle-right"></i></div>
                            <div class="overlay"></div>
                        </article>
                    </a>
                    <a href="/">
                        <article>
                            <h3>Stop using JS for that</h3>
                            <img src="../img/thumbnail.jpeg" alt="CMD Media lounge">
                            <div><i class="fa-solid fa-angle-right"></i></div>
                            <div class="overlay"></div>
                        </article>
                    </a>
                    <a href="/">
                        <article>
                            <h3>Stop using JS for that</h3>
                            <img src="../img/thumbnail.jpeg" alt="CMD Media lounge">
                            <div><i class="fa-solid fa-angle-right"></i></div>
                            <div class="overlay"></div>
                        </article>
                    </a>
                </section> 
                <a href="/#sec-2"><p>Zie alle blogs</p></a>
            </section>

            <!-- Footer -->
            <%- include('../partials/footer'); %>
        </div>
    </div>
    <script src="js/single.js"></script>
    <%- include('../partials/script-fontawesome'); %>
</body>
</html>